<%= stylesheet_link_tag    "bootstrap-theme.min.css" %>
<%= stylesheet_link_tag    "bootstrap.min.css" %>

<h1>I'm welcome/index.html.erb</h1>
<div id='react_entry_point'> </div>

<span class="glyphicon glyphicon-asterisk"></span>
=============
<%= javascript_include_tag "_react_router" %>
